# Ignore Gradle build output
.gradle/
build/
*/build/
.externalNativeBuild/
.cxx/

# Ignore IDE config
.idea/
*.iml

# Ignore local settings
local.properties
/local.properties
.DS_Store
/captures

# Ignore .idea subfolders and files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Ignore logs
*.log

# Ignore Firebase config (optional)
# Uncomment the next line if you don’t want to commit your google-services.json
# app/google-services.json

org.gradle.launcher.daemon.bootstrap.Gr
